.skills-list {
    background-color: #f9f9f9;
    font-size: 1.7rem;
    color: #767676;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    position: relative;
}

.skills-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.skills-main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.skills-main p {
    margin-right: 15px;
    padding-right: 2rem;
    border-right: 2px solid rgba(45, 46, 50, 0.5);
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    color: #2d2e32;
}

.skills-main ul {
    list-style: none;
    display: flex;
}

.skills-main ul li img:hover {
    transform: translateY(-1rem);
}

.logo {
    cursor: pointer;
    color: #2d2e32;
}

.logos {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 50vw;
    display: flex;
    align-items: center;
    height: 100px;
}

.logos-slide {
    display: inline-block;
    animation: 30s slide infinite linear;
}

/* .logos:hover .logos-slide {
    animation-play-state: paused;
} */

.logos-slide img {
    margin: 0 20px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@media (max-width: 900px) {
    .skills-main {
        flex-direction: column;
    }

    .logos {
        width: 80vw;
    }
}