.testimonials {
    background-color: #f9f9f9;
    padding: 10rem 0;
}

.test-text {
    padding: 30px;
    background-color: #fff;
    border-radius: 20px !important;
    box-shadow: 0 5px 20px 0 rgba(69, 67, 96, .1);
}

.test-content h3 {
    font-size: 1.7rem;
    color: #147efb;
    text-transform: uppercase;
    margin-bottom: 5rem;
    text-align: center;
}

.test-icon {
    font-weight: bold;
    font-size: 12px;
}

.testimonials-wrapper {
    max-width: 700px;
    margin: auto;
}

.testimonial-item {
    padding: 0 20px 20px;
}

.testimonial-item p {
    font-size: 16px;
    font-family: "Mulish", sans-serif;
    color: #555555;
}

.thumb {
    border-radius: 50%;
    overflow: hidden;
    height: 90px;
    width: 90px;
}

.subtitle {
    color: #147efb;
    font-size: 14px;
}

.triangle-top:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFF;
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-7.5px)
}

.slick-dots li.slick-active button:before {
    color: #147efb !important;
}